.nav {
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    text-align: justify;
    padding: 0 40px 0 40px;
  }
  .nav a {
    color: black;
  }
  .logo {
    width: 100px;
    margin-top: 20px;
  }
  .nav a:hover {
    font-weight: 800;
    transition: 0.4s;
  }
  /* Search*/
  .container-4{
    border-radius:10px;
    overflow: hidden;
    width: 300px;
    height: 30px;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid #182450;
  }
  .container-4 input#search{
    
    width: 300px;
    height: 30px;
    border: none;
    font-size: 10pt;
    float: left;
    color: #182450;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .container-4 button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: #232833;
    height: 30px;
    width: 50px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
  }
  .container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }
  
  
  .icons img {
    width: 30px;
  }
  
.cart {
    width: 250px;
    height: 340px;
    border: 1px solid black;
    margin: 30px;
    float: left;
    text-align: center;
    padding: 20px;
}
.cart .name {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.cart .cost {
    font-size: 1.3rem;
    margin: 30px 0;
}
.cart .add-to-cart {
    font-size: 1.1rem;
    background: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.cart .add-to-cart:hover {
    background: cadetblue;
}
.cart .add-to-cart:active {
    background: red;
}
.goods-out {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.goods-out::after {
    content: "";
    display: block;
    clear: both;
}
.main-cart img {
    width: 48px;
}