
@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  --color: #FAC300;
	--icon-width: 60px;
	--text-width: 90px;
	--padding: 2.5rem;
	--duration: 0.2s;
  font-size: 14px;
  background-color: #ffffff;
}
.nav {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  position: fixed;
  background-color: white;
  z-index: 100;
  font-size: 18px;
  top:0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  text-align: justify;
  padding: 0 40px 10px 40px;
  font-weight: 300;
  margin-top: -20px;
}
.nav a {
  color: black;
  font-weight: bolder;
}
.logo {
  width: 80px;
  margin-top: 30px;
}

.nav-link a {
  margin-left: 50px;
}
.nav-link a:hover {
  /* border-bottom: 2px solid #182450;   */
  opacity: 0.9;
  color: #182450;
}
/* Search*/
.container-4{
  border-radius:10px;
  overflow: hidden;
  width: 300px;
  height: 30px;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid #182450;
}
.container-4 input#search{
  
  width: 300px;
  height: 30px;
  border: none;
  font-size: 10pt;
  float: left;
  color: #182450;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background: #232833;
  height: 30px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
}
.icons img {
  width: 30px;
}
.basket img {
  width:50px;
}

.icons img:hover {
  transition: 0.4s;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
main{
  margin-top: 150px;
}
#registrationModal {
  width: 400px; height: 400px;
  background: #182450;
  position: fixed;
  top: 150px; left: 0; right: 0; bottom: 0;
  margin: auto;
  z-index: 40;
  display: none;
}
#myOverlay {
  z-index: 37;
  position: fixed;
  background: rgba(0,0,0,.7);
  width: 100%; height: 100%;
  top: 0; left: 0;
  cursor: pointer;
  display: none;
}
.header{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: rgba(3,3,3,.1);
}

.header h1{
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-weight: 300;
  font-size: 21px;
  color: white;
  font-family: 'Playfair Display', serif;
}

form{
  position: absolute;
  bottom: 50px;
  width: 100%;
}

input,
.login-btn{
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 84%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input{
  border: none;
  border-left: 5px solid;
  background: none;
  border-color: white;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input:focus{
  outline: 0;
  background: rgba(187, 187, 187, 0.2);
  border-radius: 20px;
  border-color: transparent;
}

.login-btn{
  transition: 0.4s;
  text-align: center;
  background: rgb(225, 40, 54);
  color: #fff;
}
.login-btn:hover {
  border-radius: 20px;
  transition: 0.4s;
}

.other-options{
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 2px;
  left: 0;
}

.option{
  position: relative;
  display: block;
  float: right;
  width: 45%;
  margin: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgba(0,0,0,.2);
  border-bottom: 2px solid  rgb(225, 40, 54);
  cursor: pointer;
}

.option:first-child{
  float: left;
  left: 3.3%;
}

.option:last-child{
  margin-right: 3.3%;
}

.option-text{
  position: relative;
  margin: 0;
  line-height: 30px;
  color: #ccc;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
}

#fpass-form,
#registration-form{
  display: none;
}

/* Change colors container */
.change-colors-container{
  position: absolute;
  height: 300px;
  width: 50px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(255,255,255,.5);
}
#myModal__close {
  position: absolute;
  top: 0;
  right: 7px;
  font-size: 30px;
  text-align: center;
  color: white;
}
#myModal__close:hover {
  color:rgb(225, 40, 54);
  cursor: pointer;
  transition: 0.4s;
}

/* btn start */
.btn {
    background: #182450;
    color: #fff;
    display: inline-block;
    padding: 18px 20px;
    width: 240px;
    max-width: 100%;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    text-align: center;
    letter-spacing: .02em;
    box-shadow: 0px 0px 38px 0px rgba(212, 66, 50, 0.8);
    transition: color .2s, background .2s, opacity .2s;
  }
  
  .btn:hover {
    background: #182450;
  }
  
  .btn:active {
    opacity: 0.8;
    transform: scale(.95);
  }
  
 
  /* btn end */
  
  /* container start */
  .container {
    padding: 0 20px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    height: 300px;
  }
  /* container end */
  
  
  /* phone start */
  .phone__item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 3px solid #fff;
    padding: 8px 16px;
    border-radius: 21.5px;
    transition: color .2s, background .2s, opacity .2s;
  }
  
  .phone__item:hover {
    color: #1f1f1f;
    background: #fff;
  }
  
  .phone__item:active {
    opacity: 0.8;
  }
  /* phone end */
  
  /* btn-menu start */
  .btn-menu {
    background: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    border: 0;
  }
  
  .btn-menu__box {
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  .btn-menu__inner::before,
  .btn-menu__inner::after,
  .btn-menu__inner {
    background: #fff;
    width: 100%;
    height: 4px;
    border-radius: 5px;
  }
  
  .btn-menu__inner {
    display: block;
    top: 50%;
    position: relative;
  }
  
  .btn-menu__inner::before,
  .btn-menu__inner::after {
    content: '';
    position: absolute;
    left: 0;
  }
  
  .btn-menu__inner::before {
    top: -10px;
  }
  
  .btn-menu__inner::after {
    bottom: -10px;
  }
  /* btn-menu end */
  
  /* section start */
  
  
 
  
  .section__title {
    font-size: 48px;
    text-align: center;
    margin: 0 0 40px 20%;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
  }
  
  .section__title--accent {
    color: #182450;

  }
  
  
  
  .section__header {
    margin-bottom: 90px;
    width: 100%;
  }
  
  /* section end */
  
  /* catalog-nav start */
  .catalog-nav {
    display: flex;
    justify-content: center;
  }
  
  .catalog-nav__wrapper {
    list-style: none;
    margin: 0 0 0 20%;
    padding: 0;
    display: flex;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    overflow: hidden;
  }
  
  .catalog-nav__btn {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 14px;
    min-width: 150px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #e6e6e6;
    border-right: 1px solid #e5e5e5;
    transition: border .2s, background .2s, color .2s;
  }
  
  .catalog-nav__btn.is-active {
    background: #1f1f1f;
    color: #fff;
    border-color: #1f1f1f;
  }
  
  .catalog-nav__btn:not(.is-active):hover {
    background: #182450;
    color: #fff;
    border-right-color: #182450;
  }
  
  .catalog-nav__item:last-of-type .catalog-nav__btn {
    border-right: 0;
  }
  
  /* catalog-nav end */
  
  /* catalog start */
.catalog-cart {
  width: 100%;
  display: flex;
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 80%;
}
  
  .catalog__item {
    width: calc(100% / 4);
    padding: 0 35px;
    position: relative;
    box-shadow: 4px 0px 8px 0px rgba(182, 182, 182, 0.2);
    margin-bottom: 10px;
  }
  .catalog__item img {
    height: 300px;
  }
  .catalog__item img:hover {
    transition: 0.4s;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  }
  
  .catalog__item::before {
    content: '';
    background: #f7f7f7;
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    transform: translateX(-50%);
  }
  
  .catalog__item:nth-of-type(3n + 1)::before {
    content: none;
  }
  /* catalog end */
  
  /* product start */
  .product {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .product__img {
    display: block;
    margin: 0 auto 15px;
  }
  
  .product__title {
    margin: 0 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
  }
  .product__title a{
    color: black;
  }
  .product__title a:hover{
    color:#182450;
  }
  .product__title, .product__description {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product__description {
    margin: 0;
    color: #9f9f9f;
    font-size: 14px;
  }
  
  .product__content {
    margin-bottom: 25px;
    flex-grow: 1;
  }
  
  .product__sizes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: 21px;
    overflow: hidden;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
  }
  
  .product__size {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: #e6e6e6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding: 13px 33px;
    border-radius: 21px;
  }
  
  .product__size.is-active {
    color: #a2a2a2;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  }
  
  .product__price {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
  }
  
  .product__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .add-to-cart {
    background-color: #182450;
    color: white;
    margin: 0 6px 5px 6px;
    padding: 5px 6px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
  }
  
.add-to-cart:hover {
  background-color: red;
}
   svg{
    display: block;
    width: 30px;
    height: auto;
  }
  
  .material-symbols-outlined{
    fill:transparent; 
    stroke:#f00;
    stroke-width:6px;
    cursor:pointer;
    transition:fill .3s;
  }
  .filled{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
  .mini-cart {
    margin-left: 10px;
    width: 20%;
    margin-top: 300px;
  }
  .mini-cart-item {
    padding: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    
  }
  .mini-cart-item a {
    color:#182450;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .mini-cart-item img {
    height: 100px;
  }
  .mini-cart-item-description {
    margin-left: 10px;
    color: #a2a2a2;
    font-family: 'Montserrat', sans-serif;
  }

  .amount {
    margin: 5px 0;
    width: 60px;
    display: flex;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    justify-content: center;
    column-gap: 10px;
  }
  .amount button:hover{
    color: #182450;
  }
  .amount p {
    color: black;
  }
  .del-books:hover {
    color: red;
  }
  .mini-cart-total {
    padding: 5px;
    border-top: 1px solid #a2a2a2;
    font-family: 'Montserrat', sans-serif;
  }
  .mini-cart-total p {
    font-size: 20px;
    margin: 10px 0 20px 0;
  }
  .mini-cart-total b {
    font-size: 36px;
  }
  .checkout {
    transition: 0.4s;
    margin: 5px 10px;
    background-color: #182450;
    border-radius: 5px;
    display: block;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      padding: 5px 0;
  }
  .checkout:hover {
    background-color: red;
    transition: 0.4s;
  }
.footer {
  width: 100%;
  height: 200px;
}
.admin{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  text-align: center;
  color: #182450;
  margin-top: 50px;
}
.admin_a {
  text-align: center;
  width: 100px;
  padding: 5px;
  background-color:#182450;
  border-radius: 4px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.admin_a:hover {
  background-color: red;
}
  